@import url('https://fonts.googleapis.com/css2?family=Bungee+Spice&family=Creepster&family=Nabla&family=Roboto+Slab&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-image: url(./Assets/Main-Bg.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#logo1{
    display: flex;
    justify-content: center;
}

#logo1 img{
    height: 400px;
}

.FlexBtn{
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 0 40px;
    flex-wrap: wrap;
}

.button{
    height: 100px;
    width: 200px;
    background-color: #48FB47;
}

.button h1{
    font-size: 40px;
    font-family: "Creepster";
}

.button-24 {
    background-color: #48FB47;
    border: 1px solid #48FB47;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 70px;
    width: 250px;
    cursor: pointer;
    padding: 12px 14px;
}

.button-24:hover,
.button-24:active {
  background-color: #A52F69;
  background-position: 0 0;
  border: 1px solid #A52F69;
  color: white;
}

.button-24:active {
  opacity: .5;
}

@media only screen and (max-width: 600px){
    #logo1 img {
        height: 300px; 
    }
    .button,
    .button-24 {
        width: 100%;
    }
}