@import url('https://fonts.googleapis.com/css2?family=Bungee+Spice&family=Creepster&family=Nabla&family=Roboto+Slab&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-image: url(./Assets/Name-bg.png);
    background-size: cover;
}

.button h1{
    font-size: 60px;
    font-family: "Creepster";
} 

.button-24{
    background-color: #48FB47;
    border: 1px solid #48FB47;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 60px;
    width: 350px;
    cursor: pointer;
    padding: 12px 14px;
}

.button-24:hover,
.button-24:active {
  background-color: #A52F69;
  border: 1px solid #A52F69;
  color: white;
}

.button-24:active {
  opacity: 0.5;
}

#InstBtn{
    position: absolute;
    height: 40px;
    width: 200px;
    right: 10px;
    top: 10px;
}

#InstBtn h1{
    font-size: 30px;
    color: black;
}

.flex{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 100vh;
}

.Choose{
    width: 350px;
    height: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.car-choose{
    width: 350px;
    height: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 60px;
    margin-top: 90px;
}

.name h1{
    font-size: 80px;
    color: white;
    text-align: center;
    font-family: "creepster";
}

.input{
    height: 60px;
    width: 350px;
    border-radius: 10px;
    border: 2px solid #1F7B1F;
    background-color: rgba(0, 0, 0, 0.5);
    outline: none;
    font-size: 40px;
    font-family: "Creepster";
    color: white;
}

#level{
    background-color: greenyellow; 
    color: white; 
    border: 2px solid greenyellow; 
    cursor: pointer;
    font-size: 40px;
    font-family: "Creepster";
}

select{
    width: 350px;
    font-size: 50px;
    border-radius: 10px;
    border: 3px solid black;
    font-weight: bolder;
    border: none;
    outline: none;
    background-color: #48FB47;
    height: 60px;
}

option,select{
    font-size: 50px;
    font-family: "Creepster";
    text-align: center;
}

@media only screen and (max-width: 700px){
    .flex{
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: flex-start;
        margin-top: 20%;
        align-items: center;
    }

    .name h1 {
        font-size: 50px;
    }

    .input {
        height: 40px;
        width: 180px;
        font-size: 20px; 
    }

    .Choose {
        width: 180px;
        height: 175px;
        display: flex;
        align-items: center;
    }

    .name{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    .car-choose{
        width: 180px;
        height: 175px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-top: 50px;
        gap: 20px;
    }

    .button h1{
        font-size: 30px;
    } 
    
    .button-24{
        height: 40px;
        width: 180px;
        padding: 12px 14px;
    }

    select{
        width: 180px;
        font-size: 30px;
        height: 40px;
    }
    
    option,select{
        font-size: 30px;
        font-family: "Creepster";
        text-align: center;
    }

    #InstBtn{
        position: absolute;
        height: 40px;
        width: 150px;
    }
    
    #InstBtn h1{
        font-size: 20px;
    }
}